<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="modal-header">
  <h4 class="modal-title w-100">Select Emission Factor</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="tableData && tableData.length">
    <table class="table table-sm table-striped table-bordered">
      <thead class="thead-cef-medium">
        <tr>
          <th scope="col">Select</th>
          <th scope="col" sortable="emissionFactor" (sort)="onSort($event)">Emissions Factor</th>
          <th scope="col" sortable="emissionsNumeratorUom.code" (sort)="onSort($event)">Numerator UoM</th>
          <th scope="col" sortable="emissionsDenominatorUom.code" (sort)="onSort($event)">Denominator UoM</th>
          <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
          <th scope="col" sortable="calculationMaterialCode.description" (sort)="onSort($event)">Calculation Material</th>
          <th scope="col" sortable="controlMeasureCode.description" (sort)="onSort($event)">Control Measure</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableItems">
          <td><input [id]="'selectEf' + item.id"  type="radio" name="efRadio" [formControl]="efControl" [value]="item" aria-label="select emission factor"></td>
          <td>{{item.emissionFactor || item.emissionFactorFormula}}</td>
          <td>{{item.emissionsNumeratorUom.code}}</td>
          <td>{{item.emissionsDenominatorUom.code}}</td>
          <td>{{item.description}}</td>
          <td>{{item.calculationMaterialCode.description}}</td>
          <td>{{item.controlMeasureCode.description}}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="validation-message" *ngIf="efControl.errors && (efControl.dirty || efControl.touched)">
      <div *ngIf="efControl.errors?.required">
          An Emission Factor must be selected.
      </div>
    </div>
  </div>

  <div *ngIf="!tableData || !tableData.length">
    There are no EPA Emission Factors for this combination of SCC Code, Pollutant, and Calculation Material. Please confirm that these fields are correct.
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onClose()">Cancel</button>
  <button type="submit" class="btn btn-success" (click)="onSubmit()" *ngIf="tableData && tableData.length">Select</button>
</div>