<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="card mb-3">
	<div class="card-header text-center">
		<strong>Help Resources</strong>
	</div>
	<div class="card-body">
		<div class="row mb-1">
		Application Support
		</div>
		<div class="row ml-2 mb-1">
			The Combined Air Emissions Reporting Form User Guide and Glossary will provide instructions and terminology necessary to navigate through the application from registration to report submission.
		</div>
		<ul>
			<li><a href="assets/files/CAER System User Guide_V2_Draft_02252021Final.pdf" target="_blank">Combined Air Emissions Reporting Form User Guide</a></li>
			<li><a href="assets/files/CAER Glossary for CAERS_342021.xlsx">Combined Air Emissions Reporting Form Glossary</a></li>
		</ul>
		<div class="row mb-1">
		CDX Helpdesk Support
		</div>
		<div class="row">
			<strong class="mr-1 ml-4">By Telephone:</strong>Person-to-person telephone support is available from <strong class="mr-1 ml-1" >8:00 am to 6:00 pm (EST/EDT)</strong>. Call our toll-free line at <strong class="mr-1 ml-1" x-ms-format-detection="none">888-890-1995</strong> or our direct line at <strong class="ml-1 mr-1" x-ms-format-detection="none">970-494-5500</strong> for International callers.
		</div>
		<div class="row">
			<strong class="mr-1 ml-4">By E-mail:</strong>Send e-mail to Technical Support at <a class="ml-1" href="mailto:helpdesk@epacdx.net">helpdesk@epacdx.net</a>.
		</div>
		<div class="row">
			<strong class="mr-1 ml-4">By Live Chat:</strong><a class="mr-1" href="https://cherokeeservicedesk.sysaidit.com/ChatEnduserConsole.jsp?createRequestFromEndUser=YES&notAddingIndexJSP=true&queueTypeSelect=4&userName=&email=&accountID=cherokeeservicedesk" target="_blank">Chat with the CDX Help Desk</a>to answer your questions.
		</div>
		<div class="row mt-3 mb-1">
			Program Support
		</div>
		<div class="row">
			<Strong class="mr-1 ml-4 mb-1">Note:</Strong>Questions related specifically to emissions reporting and facility data should be referred to your SLT Authority.
		</div>
		<ul>

            <li>Georgia Department of Natural Resources (GADNR):
                <a class="ml-1" href="mailto:Emissions.Inventory@dnr.ga.gov">
                    Emissions.Inventory@dnr.ga.gov
                </a>
            </li>
            <li>Lincoln Lancaster, NE County Health Department (LLCHD):
                <a class="ml-1" href="mailto:gbergstrom@lincoln.ne.gov">
                    Gary Bergstrom, gbergstrom@lincoln.ne.gov
                </a>
            </li>
            <li>Pima, AZ Department of Environmental Quality (PDEQ):
                <a class="ml-1" href="mailto:Janice.easley@pima.gov">
                    Janice Easley, Janice.easley@pima.gov
                </a>
            </li>
            <li>Rhode Island Department of Environmental Management (RIDEM):
                <a class="ml-1" href="mailto:Alexi.Mangili@dem.ri.gov">
                    Alexi.Mangili@dem.ri.gov
                </a>
            </li>
            <li>Washington, D.C. Department of Energy & Environment (DOEE):
                <a class="ml-1" href="mailto:air.quality@dc.gov">
                    air.quality@dc.gov
                </a>
            </li>

		</ul>
		<div class="row mb-1">
			Additional Resources
		</div>
		<ul>
			<li><a href="https://www.epa.gov/e-enterprise/product-design-team" target="_blank">State Emission Factor Compendium</a></li>
			<li><a href="assets/files/Default Heat Content Ratios for Help and User Guide.pdf" target="_blank">Default Fuel Heat Content for Energy Conversions</a></li>
			<li><a href="assets/files/Emission Factor Updates CAERS MVP to V2.xlsx" target="_blank">Emission Factor Updates</a></li>
			<li><a href="assets/files/tri-nei-pollutant crosswalk.xlsx" target="_blank">TRI-NEI Pollutant Crosswalk</a></li>			
		</ul>
	</div>

</div>
