<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="nav-item  d-flex flex-row justify-content-between" [routerLinkActive]="'active'" 
        [routerLinkActiveOptions]="{exact: true}"  #rla="routerLinkActive">

    <div class="nav-link p-0">
        <button class="btn btn-link text-primary font-weight-bold text-left small p-0" type="button"
                (click)="collapsed = !collapsed" [attr.aria-expanded]="collapsed"
                [attr.aria-controls]="targetId" *ngIf="navItem.children?.length" [attr.aria-label]="'list unit '+ navItem?.description + ' processes'">
            <app-collapse-icon [collapsed]='!collapsed'></app-collapse-icon>
        </button>
        <a [attr.aria-label]="'select ' + navItem?.baseUrl + navItem?.description" class="text-primary font-weight-bold small" [routerLinkActive]="'active text-success'"
                [routerLinkActiveOptions]="{exact: true}" routerLink="{{itemUrl}}" 
                [attr.data-cy]="'select ' + navItem?.baseUrl + navItem?.description"
                title="{{navItem.description}}">
            <span>
                {{navItem.description.length > 30 ? (navItem.description | slice:0:25) + '...' : navItem.description}}
                <fa-icon icon="angle-left" class="text-success p-1" [ngClass]="{'d-none': !rla.isActive}" size="lg"></fa-icon>
            </span>
        </a>
    </div>
    
    
</div>
<div *ngIf="navItem.children?.length" class="ml-2" [attr.id]="targetId" [ngbCollapse]="!collapsed">
    <app-sidebar-inner-nav [navItems]="navItem.children" [baseUrl]="baseUrl"></app-sidebar-inner-nav>
</div>
