<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="row mb-2 ml-2">
  We're sorry but the Common Air Emissions Reporting System encountered an unforeseen error. 
  If you continue having an issue, please contact the Help Desk at the below locations and let us know how the error was caused. 
  Thank you!
</div>
		<div class="row">
			<strong class="mr-1 ml-4">By Telephone:</strong>Person-to-person telephone support is available from <strong class="mr-1 ml-1">8:00 am to 6:00 pm (EST/EDT)</strong>. Call our toll-free line at <strong class="mr-1 ml-1" x-ms-format-detection="none">888-890-1995</strong> or our direct line at <strong class="ml-1 mr-1" x-ms-format-detection="none">970-494-5500</strong> for International callers.
		</div>
		<div class="row">
			<strong class="mr-1 ml-4">By E-mail:</strong>Send e-mail to Technical Support at <a class="ml-1" href="mailto:helpdesk@epacdx.net">helpdesk@epacdx.net</a>.
		</div>
		<div class="row">
			<strong class="mr-1 ml-4">By Live Chat:</strong><a class="mr-1" href="https://cherokeeservicedesk.sysaidit.com/ChatEnduserConsole.jsp?createRequestFromEndUser=YES&notAddingIndexJSP=true&queueTypeSelect=4&userName=&email=&accountID=cherokeeservicedesk" target="_blank">Chat with the CDX Help Desk</a>to answer your questions.
		</div>